{% set logs = craft.membership.logs.getMessages({ subscriptionId: subscription.id }) %}
{% set grantsById = craft.membership.grants.getAllGrants() | index('id') %}

{% if logs | length %}
    <div class="pane">
        <h2>Membership Logs</h2>
        <table class="fullwidth">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Grant</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    {% set grant = grantsById[log.grantId] %}
                    <tr>
                        <td><code>{{ log.id }}</code></td>
                        <td>
                            {% if canManageGrants %}
                                <a href="{{ cpUrl("membership/grants/#{log.grantId}") }}">{{ grant.name }}</a>
                            {% else %}
                                {{ grant.name }}
                            {% endif %}
                        </td>
                        <td>{{ log.message }}</td>
                        <td>{{ log.dateCreated | date('short') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
