{% extends '_layouts/cp' %}

{% set title = 'Membership Grants' %}

{% block actionButton %}
    <a href="{{ cpUrl('membership/grants/new') }}" class="btn submit">New Grant</a>
{% endblock %}

{% block content %}
    <table id="grants" class="data fullwidth">
        <thead>
            <tr>
                <th>{{ 'Name' | t('membership') }}</th>
                <th>{{ 'Plan' | t('membership') }}</th>
                <th></th>
                <th>{{ 'User Group' | t('membership') }}</th>
                <th class="thin"></th>
            </tr>
        </thead>
        <tbody>
            {% for grant in grants %}
                {% set plan = grant.getPlan() %}
                {% set group = grant.getUserGroup() %}

                <tr data-id="{{ grant.id }}" data-name="{{ grant.name }}">
                    <td>
                        <span class="status {{ grant.enabled ? 'active' : 'disabled' }}"></span>
                        <a href="{{ cpUrl("membership/grants/#{grant.id}") }}">{{ grant.name }}</a>
                    </td>
                    <td><a href="{{ cpUrl("commerce/settings/subscriptions/plan/#{plan.id}") }}">{{ plan.name }}</a></td>
                    <td>&rarr;</td>
                    <td><a href="{{ cpUrl("settings/users/groups/#{group.id}") }}">{{ group.name }}</a></td>
                    <td>
                        <a class="delete icon" role="button" href="#"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% set confirmationMessage = 'Are you sure you want to delete the {name} grant?' | t('membership') | e('js') %}

{% js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#grants',
        noObjectsSelector: '#no-grants',
        newObjectBtnSelector: '#new-grant-button',
        deleteAction: 'membership/grants/delete',
        confirmDeleteMessage: '{{ confirmationMessage }}'
    });
{% endjs %}
